[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "erfe"]
	path = erfe
	url = https://github.com/amadoudiogobarry/erfe
	shallow = true
	registered = true
